<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nganu</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="age">Age:</label>
        <input type="text" name="age" id="age" required>
        <br><br>
        <label for="angka">Sex:</label>
        <input type="text" name="sex" id="ongko" required>
        <label for="angka">Cp :</label>
        <input type="text" name="cp" id="ongko" required>
        <br><br>
        <label for="angka">trtbps :</label>
        <input type="text" name="trtbps" id="ongko" required>
        <label for="angka">chol :</label>
        <input type="text" name="chol" id="ongko" required>
        <br><br>
        <label for="angka">Fbs :</label>
        <input type="text" name="fbs" id="ongko" required>
        <label for="angka">Restecg :</label>
        <input type="text" name="restecg" id="ongko" required>
        <br><br>
        <label for="angka">thalachh :</label>
        <input type="text" name="thalachh" id="ongko" required>
        <label for="angka">exng :</label>
        <input type="text" name="exng" id="ongko" required>
        <br><br>
        <label for="angka">oldpeak :</label>
        <input type="text" name="oldpeak" id="ongko" required>
        <label for="angka">slp :</label>
        <input type="text" name="slp" id="ongko" required>
        <label for="angka">caa :</label>
        <input type="text" name="caa" id="ongko" required>
        <label for="angka">thall :</label>
        <input type="text" name="thall" id="ongko" required>
        <input type="submit" value="Kirim">
    </form>
    <h1 style="text-align: center;" >{{predict}}</h1>
</body>
</html>